:root{
    --lightgreen:#CCE9CE;
    --green:#508D4E;
    --lime:#53AB54;
    --szary:#BFBFBF;
    --jasnoszary:#E8E8E8;
}
body{
    margin: 0;
    background-color: var(--lightgreen);
    position: relative;
}
body,html{
    overflow-x: hidden;
}
.whitespace{
    height: 110px;
    width: 100%;  
}
p{
    margin: 0;
}
/* nawigacja */
.baner{
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px rgb(97, 97, 97);
    box-sizing: border-box;
    z-index: 100;
}
.nazwa-strony{
    flex: 6 3 250px;
    height: 100%;
    font-size: clamp(3.2rem,4.8vw,5.2rem);
    color: white;
    font-family: "Itim";
    display: flex;
    justify-content: center;
    align-items: center;
}
.nawigacja-linki{
    flex: 10 4 500px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nawigacja-linki > a{
    color: white;
    text-decoration: none;
    font-size: clamp(1.3rem,2.4vw,2.1rem);
    font-family: "lalezar",sans-serif;
    font-weight: 100;
    position: relative;
    box-sizing: border-box;
}
.nawigacja-linki > a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: white;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.7s;
}
.nawigacja-linki a:hover::before{
    width: 100%;
}
.konto-przycisk{
    width: 175px;
    height: 40px;
    background-color: #96cc97;
    border: none;
    border-radius: 20px;
    font-size: 1.6rem;
    font-family: "itim";
    font-weight: 500;
    position: relative;
}
.menu-konto{
    width: 300px;
    height: 0px;
    background-color: var(--jasnoszary);
    border-radius: 30px;
    position: absolute;
    top: 45px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    transition: height 0.4s;
}
.hamburger-przycisk{
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--lime);
    border: none;
}
.hamburger-svg-x{
    display: none;
}
.mobilne-menu{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(46, 133, 46);
    color: white;
    font-family: "itim";
    top: 83px;
    right: 0;
    transform: translateX(100%);
    z-index: 101;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.4s;
}
.menu-pokaz{
    transform: translateX(0%);
}
.mobilne-menu a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "itim";
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 10px;
}
.mobilne-menu hr{
    width: 95%;
    border: 1px solid white;
    background-color: white;
    height: 1px;
}

/* hero section */
.zaloguj-link{
    justify-content: center;
    align-items: center;
    font-family: "itim";
    width: 60%;
    height: 42px;
    background-color: #508D4E;
    border-radius: 40px;
    display: none;
    text-decoration: none;
    color: white;
    position: relative;
}
.Zarejestruj-link{
    justify-content: center;
    align-items: center;
    font-family: "itim";
    width: 60%;
    height: 50px;
    background-color: #80AF81;
    border-radius: 40px;
    display: none;
    text-decoration: none;
    color: white;
}
.zaloguj-tekst{
    display: none;
    font-size: 1.33rem;
    font-family: "itim";
    font-weight: 100;
}
.konto-przycisk:hover .menu-konto{
    height: 240px;
    border: 3px solid var(--lime);
    .zaloguj-link,.Zarejestruj-link,.zaloguj-tekst{
        display: flex;
    }
}
.hero-section{
    height: 550px;
    width: 100%;
    display: flex;
}
.glowny-tekst{
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3f3f3f;
    font-size: clamp(3.8rem,5vw,5.6rem);
    line-height: 130%;
    font-family: "Itim";
}
.obrazy{
    width: 50%;
    height: 550px;
    position: relative;
    overflow: hidden;
}
.obraz1{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 340px;
    height: 200px;
}
.obraz2{
    position: absolute;
    top: 290px;
    left: 40px;
    width: 350px;
    height: 220px;
}
.obraz3{
    position: absolute;
    top: 130px;
    left: 430px;
    width: 330px;
    height: 180px;
}
.circle{
    width: 75%;
    height: 60%;
    left: -20px;
    position: absolute;
    border-radius: 100%;
    border: 90px solid var(--lime);
    transform: rotate(-25deg);
}
.pasek-wyszukiwania{
    width: 65%;
    height: 105px;
    margin: 0 auto 0;
    background-color: white;
    position: relative;
    top: -22px;
    border-radius: 13px;
    box-shadow: 0 0 5px #5f5f5f;
    display: flex;
    font-family: "itim";
}
.szukane-stanowisko{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    border-right: 5px solid var(--jasnoszary) ;
}
.szukanie-pracy-input{
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: "itim";
    color: black;
    width: 290px;
}
.obszar-zawodowy{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 160%;
    font-size: 1.3rem;
    color: var(--szary);
    border-right: 5px solid var(--jasnoszary);
}
#obszarZawodowySelect,#wojewodztwoSelect{
    color: blueviolet;
    position: relative;
}
.obszar-zawodowy-group{
    width: 370px;
    height: 250px;
    background-color: white;
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    overflow-y: scroll;
    color: #000000;
    display: none;
}
.obszar-zawodowy-wybor{
    box-sizing: border-box;
    padding: 3px;
}
.obszar-zawodowy-wybor:hover{
    padding: 5px;
    background-color: #d1d1d1;
}
.wybrany-obszar,.wybrane-wojewodztwo{
    color: black;
}
.wojewodztwo-group{
    width: 370px;
    height: 250px;
    background-color: white;
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    overflow-y: scroll;
    color: #000000;
    display: none;
}
.wojewodzctwo-wybor{
    box-sizing: border-box;
    padding: 3px;
}
.wojewodzctwo-wybor:hover{
    padding: 5px;
    background-color: #d1d1d1;
}
.obszar-pokaz{
    display: block;
}
.szukanie-przycisk-div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.szukanie-pracy-przycisk{
    width: 290px;
    height: 70px;
    background-color: #00C687;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.7rem;
    font-family: "itim";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lupa-svg{
    padding-left: 5px;
}
/* pracodawcy nagłówek */
.pracodawcy-nagłowek{
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 0 10px 20px;
}
.Pracodawcy-paragraf{
    font-size: clamp(3.4rem,7vw,6.2rem);
    font-family: "Itim";
}
.sekcja-pracodawcy{
    max-width: 100%;
    height: 300px;
    background-color: #B5ECB6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: scroll;
}
.pracodawca{
    min-width: 370px;
    height: 225px;
    background-color: var(--jasnoszary);
    box-sizing: border-box;
    padding: 10px;
}
.obraz-pracodawcy{
    width: 142px;
    height: 80px;
}
.pracodawcy-hr{
    width: 80%;
    background-color: var(--szary);
    margin: 5px 0;
}
.nazwa-pracodawcy{
    font-size: 1.9rem;
    font-family: "Itim";
    color: #000000;
}
.dowiedz-sie-wiecej{
    margin-top: 10px;
    color: blueviolet;
    font-family: "itim";
    font-size: 1.2rem;
    text-decoration: none;
}
.seperator-hr{
    margin: 35px auto;
    background-color: #405c40;
    width: 95%;
    height: 4px;
    border: none;
}
/* oferty pracy */
.oferty-pracy-main{
    width: 85%;
    min-height: 1000px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #316631;
}
.oferty-pracy-header{
    width: 100%;
    height: 60px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: clamp(2rem,3vw,3rem);
    text-align: center;
}
.oferty-pracy{
    width: 100%;
    min-height: 830px;
    display: grid;
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(430px,1fr)); 
    place-items: center;
}
.oferta-pracy{
    width: 90%;
    height: 200px;
    background-color: #C3E4C1;
    box-shadow: -12px 0px 0 0px #A4D4A1;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}
.obraz-podsekcja{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.obraz-podsekcja img{
    width: 120px;
    height: 120px;
}
.tekst-podsekcja{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 150%;
    font-size: 1.6rem;
    color: #7c7c7c;
}
.stanowisko{
    font-size: 2rem;
    color: #000000;
}
.sprawdz-nowe-oferty{
    width: 300px;
    height: 60px;
    margin: 10px auto 0;
    border-radius: 12px;
    border: none;
    background-color: #80AF81;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: "itim";
}




@media (max-width: 850px){
    .baner{
        justify-content: center;
    }
    .nawigacja-linki > a, .nawigacja-linki > .konto-przycisk{
        display: none;
    }
    .nawigacja-linki{
        justify-content: right;
        padding-right: 15px;
    }
    .hamburger-przycisk{
        display: flex;
    }
    .pracodawca{
        min-width: 300px;
    }
    .oferty-pracy{
        padding: 10px;
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr)); 
        row-gap: 10px;
    }
    .obraz-podsekcja img{
        width: 100px;
        height: 100px;
    }
}